In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("berlin-data/AusEx_Pankow_2023.csv", low_memory=False)
# alle zeile mit ausleihtyp == "T" löschen, weil das erfolglose ausleihen waren
df = df[df['Ausleihtyp'] != 'O']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1661467 entries, 0 to 1686922
Data columns (total 21 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Mediennummer                  1661467 non-null  int64
 1   Titel                         1583164 non-null  object
 2   Autor:in                      1445769 non-null  object
 3   Veröffentlichungsjahr         1570781 non-null  float64
 4   Fächerstatistik               1661467 non-null  object
 5   Fächerstatistik2              1661467 non-null  object
 6   Sachgruppe                    1661323 non-null  object
 7   Untergruppe                   536061 non-null   object
 8   Medientypcode                 1661467 non-null  object
 9   Sigel besitzende Bibliothek   1661467 non-null  int64
 10  Sigel ausführende Bibliothek  1019609 non-null  object
 11  Inventarisierungsdatum        1617432 non-null  object
 12  Benutzergruppe                1661439 non-null  object
 13  Geschlecht                    1600463 non-null  object
 14  Altersgruppe                  1598535 non-null  object
 15  Teilverkehrszelle             1437588 non-null  float64
 16  Bezirk                        1474527 non-null  object
 17  Ausleihtyp                    1661467 non-null  object
 18  Arbeitsplatznummer            1019715 non-null  object
 19  Monat                         1661467 non-null  int64
 20  Uhrzeit                       1661467 non-null  int64
dtypes: float64(2), int64(4), object(15)
memory usage: 278.9+ MB

In [4]:
df.head()

,Mediennummer,Titel,Autor:in,Veröffentlichungsjahr,Fächerstatistik,Fächerstatistik2,Sachgruppe,Untergruppe,Medientypcode,Sigel besitzende Bibliothek,...,Inventarisierungsdatum,Benutzergruppe,Geschlecht,Altersgruppe,Teilverkehrszelle,Bezirk,Ausleihtyp,Arbeitsplatznummer,Monat,Uhrzeit
0,42650,Bonjour tristesse : Roman,"Sagan, Françoise",1996.0,Schöne Literatur,Erwachsene,Roman,NaN,Buch,650,...,NaN,Bibliothekspersonal,W,25-39,NaN,NaN,A,Selbstverbucher 650/002,8,18
1,42650,Bonjour tristesse : Roman,"Sagan, Françoise",1996.0,Schöne Literatur,Erwachsene,Roman,NaN,Buch,650,...,NaN,Bibliothekspersonal,W,25-39,NaN,NaN,T,NaN,9,10
2,42979,NaN,NaN,NaN,Sachliteratur,Kinder,4.3/Erd,540,Buch,975,...,NaN,Erwachsene,W,40-54,1312.0,Friedrichshain-Kreuzberg,T,NaN,1,10
3,42979,NaN,NaN,NaN,Sachliteratur,Kinder,4.3/Erd,540,Buch,975,...,NaN,Erwachsene,W,40-54,1312.0,Friedrichshain-Kreuzberg,T,NaN,2,12
4,97973,"Persönlichkeitstheorien : Freud, Adler, Jung, ...","Pervin, Lawrence A.",1993.0,Sachliteratur,Erwachsene,Psy,520,Buch,971,...,NaN,Erwachsene,M,40-54,NaN,NaN,T,Selbstverbucher 109a/002,12,14

In [4]:
df[df.Sachgruppe == "Roman"].groupby(['Sachgruppe', "Geschlecht"]).agg({"Mediennummer":"count"}).reset_index()

  Sachgruppe Geschlecht  Mediennummer
0      Roman          K           230
1      Roman          M         37625
2      Roman          W        114645

In [15]:
df.Sachgruppe.value_counts().index.to_list()

['Kinderhörbuch',
 'Roman',
 '1.2',
 '4.1',
 'Spielfilm',
 'Zei',
 'Kinderfilm',
 '5.1',
 '5.1/Comic',
 '1.1',
 '4.3/Bio',
 '4.3/Spo',
 '1.3',
 'Erd',
 'Hörbuch',
 'Med',
 '5.2/Comic',
 '5.1/Krimi',
 'Psy',
 '4.1/Comic',
 'Gesch',
 '4.3/Tech',
 '5.2',
 'Spra',
 'Pä',
 'HW',
 '6/Bio',
 '5.1/Fantasy',
 '6/EDV',
 'CD-X',
 '6/Spo',
 'CD-R',
 '4.3/Nat',
 '4.3/EDV',
 'Ku',
 'EDV',
 'Soz',
 'B',
 '6/Gesch',
 'Lit',
 'Comic',
 'Jugendfilm',
 '4.3/Gesch',
 '2.1',
 '5.2/Fantasy',
 'Bio',
 'Spo',
 'Lan',
 '6/Nat',
 '4.3/Lan',
 'Phil',
 '4.3/Pä',
 '4.3/Med',
 'Pol',
 'Mus',
 '4.3/Allg',
 '4.3/Spra',
 'Th',
 '4.3/Th',
 '6/Tech',
 'Wi',
 'Nat',
 '6/Allg',
 '4.3/Psy',
 '4.3/Erd',
 '4.3/Mus',
 'Rel',
 'BWL',
 '6/Th',
 'Tech',
 'Allg',
 'No-R',
 '4.3/Ku',
 'R',
 'Bran',
 '4.3/HW',
 'Jugendhörbuch',
 '3',
 '4.2',
 '6/Ku',
 'Ma',
 '4.3/Ma',
 'SoP',
 '4.3/Soz',
 '6/Erd',
 'Gedichte',
 '6/Med',
 '4.3/Pol',
 '6/HW',
 'Werke',
 'CD-P',
 '6/Pä',
 'No-C',
 'CD-U',
 '6/Psy',
 'CD-T',
 'Toniebox',
 '4.3/SoP',
 'BdD',
 'CD-S',
 '5.2/Krimi',
 '4.3/No-P',
 '6/Spra',
 'DVD-R',
 '6/Lan',
 '6/Ma',
 '4.3/Rel',
 '4.3/Vo',
 '6/Vo',
 'CD-O',
 '6/Pol',
 '6/B',
 '4.3/Wi',
 'Erzählungen',
 'Dramen',
 '6/Lit',
 'Essays',
 '4.3/Lit',
 '6/SoP',
 '6/Rel',
 '6/Soz',
 '2.2',
 '4.3/B',
 'No-G',
 '6/Phil',
 '6/Wi',
 '6/R',
 'Vo',
 '6/Mus',
 '5.3',
 '4.3/Phil',
 'CD-E',
 'No-H',
 'Cartoon',
 '4.3/R',
 'CD-D',
 'Märchen',
 'Kabarett',
 'Sagen',
 'CD-G',
 'Laptop',
 'CD-H',
 'CD-B',
 'No-E',
 'CD-K',
 'No-P',
 'DVD-D',
 'No-L',
 'No-B',
 'CD-L',
 'DVD-S',
 'BID',
 'BD-R',
 'DVD-X',
 'DVD-Q',
 'CD-A',
 'DVD-O',
 'SL',
 'DVD-P',
 'DVD-E',
 'CD-F',
 '4.3/No-R',
 'CD-M',
 'No-A',
 'CD-W',
 'CD-N',
 'Sammlungen',
 'No-K',
 'DVD-G',
 '4.3/',
 'CD-C',
 'DVD-T',
 '6/Bran',
 '4.1/',
 '6/',
 '4.3/BID',
 'BD-T',
 'No-F',
 '4.3/Bran',
 'BD-U',
 'No-M',
 'No-U',
 'Titel',
 '4.3./Vo',
 '4.3',
 '4.1/Comi',
 'DVD-L',
 '4.3/BWL',
 '5.1/',
 '6/No-P',
 '6/No-G',
 'No-O',
 '6/No-R',
 '6/Edv',
 '6/No-C',
 'No-T',
 'Roma',
 'S',
 'G',
 'N',
 'DVD-V',
 '5.1/Comi',
 'R (SfB)',
 '4.3/No-G',
 'Witze',
 'DVD-K',
 'Esseys',
 '5.2/',
 'DVD-U',
 '4.3/No-H',
 'Aphorismen',
 'Jugendlfilm',
 'Essay',
 'DVD-B',
 'DVD-H']